Flask~=2.3.2
python-dotenv~=1.0.0
flask_restful~=0.3.10
flask_cors~=3.0.10
Werkzeug~=2.3.4
python-dateutil~=2.8.2
Pillow~=9.5.0
moviepy~=1.0.3
PyYAML~=6.0
pymongo~=4.3.3
daba~=0.0.6
nexler>=1.0.0
setuptools~=65.5.1
GitPython~=3.1.31
PyJWT~=2.7.0
argon2-cffi~=21.3.0
inflect~=6.0.4
requests~=2.31.0
openai~=0.27.8