{{- range .Methods }}
	mux.HandleFunc("{{ .Verb }} {{ $.Route }}", {{ .RegisterExpr }})
	openapi.Register(openapi.Operation{
		Method:      "{{ .Verb }}",
		Path:        "{{ $.Route }}",
		OperationID: "{{ .OperationID }}",
		Summary:     "{{ .Verb }} {{ $.Route }}",
		Protected:   {{ $.Protected }},
		ReqType:     {{ $.Alias }}models.{{ .VerbTitle }}{{ $.Name }}Request{},
{{- if .ReqContentType }}
		ReqContentType: "{{ .ReqContentType }}",
{{- end }}
		RespType: {{ $.Alias }}models.{{ .VerbTitle }}{{ $.Name }}Response{},
{{- if $.HTMLResponse }}
		RespContentType: "text/html",
{{- end }}
	})
{{- end }}