{{- range .Methods }}
	mux.HandleFunc("{{ .Verb }} {{ $.Route }}", {{ .RegisterExpr }})
	openapi.Register(openapi.Operation{
		Method:      "{{ .Verb }}",
		Path:        "{{ $.Route }}",
		OperationID: "{{ .OperationID }}",
		Summary:     "{{ .Verb }} {{ $.Route }}",
		Protected:   {{ .Protected }},
		Tags:        []string{"{{ $.Module }}"},
		ReqType:     {{ $.Alias }}models.{{ .ReqTypeName }}{},
{{- if .ReqContentType }}
		ReqContentType: "{{ .ReqContentType }}",
{{- end }}
		RespType: {{ $.Alias }}models.{{ .RespTypeName }}{},
{{- if $.HTMLResponse }}
		RespContentType: "text/html",
{{- end }}
{{- if $.RawResponse }}
		RespUnwrapped: true,
{{- end }}
	})
{{- end }}