<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>{{ .AppName }}</title>
<link rel="stylesheet" href="/static/css/home.css">
</head>
<body>
  <div class="card">
    <img src="/static/images/nexler-icon.svg" alt="{{ .AppName }} logo">
    <h1>{{ .AppName }}</h1>
    <p>Built on nexler</p>
    <a class="button" href="/swagger">View API Docs</a>
  </div>
</body>
</html>